@using WP_DZ_PR_23_2018.Models;

@{
    ViewBag.Title = "Bookstores";
    Korisnik kupac = (Korisnik)Session["kupac"];
}

@if (TempData["message"] != null)
{
    <p style="text-align:center; font-family:Cambria; font-size:20px; font-weight:bold; font-style:italic;">@TempData["message"]</p>
    TempData["message"] = null;
}

<br />

<h2 style="text-align:center; color:black; font-size:30px;">Spisak knjizara</h2>
<br/>
<table class="content" style="border-left:0px; border-right:0px;">
    @if (Context.Application["knjizare"] != null)
    {
        <tr style="border-bottom:2px solid black; border-top:2px solid black;">
            <td width="600" align="center" style="font-weight:bold; font-size:20px; font-family:Cambria;">Naziv</td>
            <td width="600" align="center" style="font-weight:bold; font-size:20px; font-family:Cambria;">Adresa</td>
            <td width="300" align="center" style="font-weight:bold; font-size:20px; font-family:Cambria;">Broj knjiga</td>
            <td width="600" align="center" style="font-weight:bold; font-size:20px; font-family:Cambria;">Opcije</td>
        </tr>
        foreach (Knjizara knjizara in ((Dictionary<string, Knjizara>)Context.Application["knjizare"]).Values)
        {
            if (knjizara.Obrisana == false)
            {
                <tr style="border-bottom:1px solid black; border-top:1px solid black">
                    <td width="600" align="center">@knjizara.Naziv</td>
                    <td width="600" align="center">@knjizara.Adresa</td>
                    <td width="300" align="center">@knjizara.BrojKnjiga</td>
                    <td width="600" align="center">
                        @if (Session["kupac"] != null)
                        {
                            if (kupac.UlogaKorisnika == Uloga.ADMIN)
                            {
                                <a style="font-size:18px;" href="~/Books/DeleteBookstore?deleteN=@knjizara.Naziv&deleteA=@knjizara.Adresa">Obrisi</a>
                            }
                            else
                            {
                                <a style="font-size:18px;" href="~/Books/DetailsBookstore?detailsN=@knjizara.Naziv&detailsA=@knjizara.Adresa">Detalji</a>
                            }
                        }
                    </td>
                </tr>
            }
        }
    }
</table>

<br /> <br />

@if (kupac.UlogaKorisnika == Uloga.ADMIN)
{
    <a href="~/Books/AddBookstore">Dodaj knjizaru</a>
    <br/>
}
<a href="~/Books/Index">Nazad</a>
